<!DOCTYPE html>

<html>
    <head>
        <title> Help | Ruby on Rails Tutorial SampleApp</title>
    </head>
    
    <body>
        <h1>Help</h1>
        <p>
            This is the Help page
        </p>
    </body>
</html>