<!DOCTYPE html>

<html>
    <head>
        <title> Home | Ruby on Rails Tutorial SampleApp</title>
    </head>
    
    <body>
        <h1>SampleApp</h1>
        <p>
            This is the home page
        </p>
    </body>
</html>